body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 14px;
}
.reverse {
    background-color:hsl(286, 100%, 63%) !important;
    color: rgb(0, 0, 0);
    }
p {
    padding: 40px;
}